<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>svLista</servlet-name>
        <servlet-class>Servlet.svLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svDelete</servlet-name>
        <servlet-class>Servlet.svDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svUpdate</servlet-name>
        <servlet-class>Servlet.svUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svInsert</servlet-name>
        <servlet-class>Servlet.svInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svCarga</servlet-name>
        <servlet-class>Servlet.svCarga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svCharge</servlet-name>
        <servlet-class>Servlet.svCharge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svEjercicio</servlet-name>
        <servlet-class>Servlet.svEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svUpFile</servlet-name>
        <servlet-class>Servlet.svUpFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>svLista</servlet-name>
        <url-pattern>/svLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svDelete</servlet-name>
        <url-pattern>/svDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svUpdate</servlet-name>
        <url-pattern>/svUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svInsert</servlet-name>
        <url-pattern>/svInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svCarga</servlet-name>
        <url-pattern>/svCarga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svCharge</servlet-name>
        <url-pattern>/svCharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svEjercicio</servlet-name>
        <url-pattern>/svEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svUpFile</servlet-name>
        <url-pattern>/svUpFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
